<div class="section section-dark text-center">
  <div class="container">
      <h2 class="title">A bit about me</h2>
      <div class="row">
          <div class="col-md-12">
              <div class="card card-profile card-plain">
                  <div class="card-avatar">
                      <a href="#avatar"><img src="./assets/img/profile-img.jpg" alt="..."></a>
                  </div>
                  <div class="card-block">
                      <a href="#paper-kit">
                          <div class="author">
                              <h4 class="card-title">Nwojo Dike</h4>
                              <h6 class="card-category">Software Engineer</h6>
                          </div>
                      </a>
                      <!-- <p class="card-description text-center">
                      </p> -->

                      <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <ngb-tabset [justify]="'center'">
                                <ngb-tab title="About">
                                    <ng-template ngbTabContent>
                                        <p class="card-description text-center">I am a software developer with experience in building various types of applications. I have a well grounded experience in various technologies, from DevOps, to Server-side and client-side technologies.
                                            Currently I work as a full stack software engineer for a major retail company based out of Arkansas. I live in Virginia and travel between VA and AR for work.
                                        </p>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab title="Projects">
                                    <ng-template ngbTabContent>
                                        <p class="card-description text-center">I build small and large scale projects from e-commerce websites to SPAs. Checkout my <a href="https://www.github.com/nod-codeman" target="_blank">Github </a> for projects.</p>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab title="Contact">
                                    <ng-template ngbTabContent>
                                        <p class="card-description text-center">Feel free to shoot me an email at hello@nwojodike.info or lets connect via my social media accounts below. I would love to work with you.</p>
                                    </ng-template>
                                </ngb-tab>
                            </ngb-tabset>
                        </div>
                    </div>
                  </div>
                  <div class="card-footer text-center">
                      <a href="https://twitter.com/Nwojod116" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                      <a href="https://www.instagram.com/nod_codeman" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-instagram"></i></a>
                      <a href="https://www.linkedin.com/NwojoDike" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                      <a href="https://www.github.com/nod-codeman" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-github"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
