<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/ales-nesetril.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <!-- <div class="angular-logo">
                        <img src="assets/img/angular2-logo.png" alt="">
                    </div> -->
                    <h1 class="presentation-title">Nwojo Dike</h1>
                    <!-- <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div> -->
                    <!-- <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div> -->
                </div>

                <h2 class="presentation-subtitle text-center">Feed your passion daily..</h2>
            </div>
        </div>
    </div>
    <div class="main">
      <app-about></app-about>
    </div>
</div>
